html {
    background-color: lightblue;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 87%;                 
}

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }

header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(61, 84, 123);
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

header p {
    margin: 0;
}

.content-area {
    border-top: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
}

.main {
    width: 70%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

.support {
    width: 30%;
    float: left;
    background-color: bisque;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    font-size: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fix {
    clear: both;
}

p {
    color: lightgoldenrodyellow;
}

footer p {
    color: aquamarine;
    text-align: center;
    font-size: 85%;
    color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    color: lightgreen;
    text-align: center;
    font-size: 165%;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}